# Getting started with Pandas

## What is a Python library?

A Python library is a package of code that adds to the functionality of Python. Base Python offers a lot of features, but not everything -- Python libraries can be imported at the beginning of  code to use for a specific purpose.

## What is pandas?

The pandas library is a high-level data manipulation tool <sup>[[wikipedia](https://en.wikipedia.org/wiki/Pandas_(software))]</sup>. Some features include:

* Reading and writing data from various data structures and file types
* Cleaning, filtering, and otherwise preparing data
* Calculating statistics and analyzing data
* Visualization with help from Matplotlib

## Importing a Python library

To use any library, it must first be imported into the Python environment.

In [1]:
# Import the pandas library as pd (callable in the code as pd)
import pandas as pd

## Reading data files with pandas

Datasets can be stored in several types of files, including .csv, .json, .txt, .xls, .xlsx, and more. The pandas library provides utilities to read in many of these file types.

### CSV Files

A comma separated values (CSV) file is a plain text file containing data separated by commas.

In [2]:
# The file location
csv_file_url = 'https://raw.githubusercontent.com/ncsu-libraries-data-vis/mi-reu-2021/main/data/perovskite_DFT_EaH_FormE.csv'

# Read in the file and print out the DataFrame
ts_csv = pd.read_csv(csv_file_url)
ts_csv

,Material Composition,A site #1,A site #2,A site #3,B site #1,B site #2,B site #3,X site,Empty,Empty.1,Empty.2,Empty.3,Empty.4,energy_above_hull (meV/atom),formation_energy (eV/atom)
0,Ba1Sr7V8O24,Ba,Sr,NaN,V,NaN,NaN,O,NaN,NaN,NaN,NaN,NaN,29.747707,-2.113335
1,Ba2Bi2Pr4Co8O24,Ba,Bi,Pr,Co,NaN,NaN,O,NaN,NaN,NaN,NaN,NaN,106.702335,-1.311863
2,Ba2Ca6Fe8O24,Ba,Ca,NaN,Fe,NaN,NaN,O,NaN,NaN,NaN,NaN,NaN,171.608093,-1.435607
3,Ba2Cd2Pr4Ni8O24,Ba,Cd,Pr,Ni,NaN,NaN,O,NaN,NaN,NaN,NaN,NaN,284.898190,-0.868639
4,Ba2Dy6Fe8O24,Ba,Dy,NaN,Fe,NaN,NaN,O,NaN,NaN,NaN,NaN,NaN,270.007913,-1.746806
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1924,Y8V7Co1O24,Y,NaN,NaN,V,Co,NaN,O,NaN,NaN,NaN,NaN,NaN,1.588513,-2.438274
1925,Y8V7Cr1O24,Y,NaN,NaN,V,Cr,NaN,O,NaN,NaN,NaN,NaN,NaN,0.000000,-2.509888
1926,Y8V7Fe1O24,Y,NaN,NaN,V,Fe,NaN,O,NaN,NaN,NaN,NaN,NaN,0.000000,-2.479151
1927,Y8V7Ni1O24,Y,NaN,NaN,V,Ni,NaN,O,NaN,NaN,NaN,NaN,NaN,0.000000,-2.441538
1928,Y8V8O24,Y,NaN,NaN,V,NaN,NaN,O,NaN,NaN,NaN,NaN,NaN,0.000000,-2.520681

### Excel Files

An Excel file is the default for the spreadsheet application, Microsfot Excel. These files can often be converted for other spreadhseet applications.

In [3]:
# The file location
excel_file_url = 'https://github.com/ncsu-libraries-data-vis/mi-reu-2021/blob/main/data/perovskite_DFT_EaH_FormE.xlsx?raw=true'

# Read in the file and print out the DataFrame
ts_excel = pd.read_excel(excel_file_url)
ts_excel.head()

,Material Composition,A site #1,A site #2,A site #3,B site #1,B site #2,B site #3,X site,Empty,Empty.1,Empty.2,Empty.3,Empty.4,energy_above_hull (meV/atom),formation_energy (eV/atom)
0,Ba1Sr7V8O24,Ba,Sr,NaN,V,NaN,NaN,O,NaN,NaN,NaN,NaN,NaN,29.747707,-2.113335
1,Ba2Bi2Pr4Co8O24,Ba,Bi,Pr,Co,NaN,NaN,O,NaN,NaN,NaN,NaN,NaN,106.702335,-1.311863
2,Ba2Ca6Fe8O24,Ba,Ca,NaN,Fe,NaN,NaN,O,NaN,NaN,NaN,NaN,NaN,171.608093,-1.435607
3,Ba2Cd2Pr4Ni8O24,Ba,Cd,Pr,Ni,NaN,NaN,O,NaN,NaN,NaN,NaN,NaN,284.898190,-0.868639
4,Ba2Dy6Fe8O24,Ba,Dy,NaN,Fe,NaN,NaN,O,NaN,NaN,NaN,NaN,NaN,270.007913,-1.746806

### JSON Files

JSON (JavaScript Object Notation) is a data storage format that uses name/value pairs to create objects and associative arrays.

In [4]:
# The file location
json_file_url = 'https://raw.githubusercontent.com/ncsu-libraries-data-vis/mi-reu-2021/main/data/perovskite_DFT_EaH_FormE.json'


# Read in the file and print out the DataFrame
ts_json = pd.read_json(json_file_url)
ts_json.head()

,A site #1,A site #2,A site #3,B site #1,B site #2,B site #3,X site,Empty,Empty.1,Empty.2,Empty.3,Empty.4,energy_above_hull (meV/atom),formation_energy (eV/atom)
Ba1Sr7V8O24,Ba,Sr,None,V,None,None,O,NaN,NaN,NaN,NaN,NaN,29.747707,-2.113335
Ba2Bi2Pr4Co8O24,Ba,Bi,Pr,Co,None,None,O,NaN,NaN,NaN,NaN,NaN,106.702335,-1.311863
Ba2Ca6Fe8O24,Ba,Ca,None,Fe,None,None,O,NaN,NaN,NaN,NaN,NaN,171.608093,-1.435607
Ba2Cd2Pr4Ni8O24,Ba,Cd,Pr,Ni,None,None,O,NaN,NaN,NaN,NaN,NaN,284.898190,-0.868639
Ba2Dy6Fe8O24,Ba,Dy,None,Fe,None,None,O,NaN,NaN,NaN,NaN,NaN,270.007913,-1.746806

## Pandas data structures

Pandas uses two main data structures: **Series** and **DataFrame**.

<img src="https://raw.githubusercontent.com/NCSU-Libraries/data-viz-workshops/master/Data_Manipulation_with_Python/assets/nc_dataframes.png" alt="DataFrames are composed of Series" width="75%">

### Series

A **Series** is a one-dimensional array of indexed data (row labels), or a single column of data. It can be thought of as a specialized dictionary.

### DataFrame

A **DataFrame** is a two-dimensional array, similar to tabluar data (think of Excel), with labaled rows (the index) and labeled columns. A **DataFrame** is made up of multiples **Series** in a similar way in which a table is made up of multiple columns. The only restriction is that each column must be of the same data type.

## Exploring the data

The pandas library can be used to explore data for analysis. This can be useful for an initial assessment of a dataset to see what is included in the dataset and what could be useful to analyze.

### View DataFrame column labels

The label names for each column can be viewed using the DataFrame `columns` attribute, which gives a list of each column name.

In [5]:
# View column labels (headers)
ts_csv.columns

Index(['Material Composition', 'A site #1', 'A site #2', 'A site #3',
       'B site #1', 'B site #2', 'B site #3', 'X site', 'Empty', 'Empty.1',
       'Empty.2', 'Empty.3', 'Empty.4', 'energy_above_hull (meV/atom)',
       'formation_energy (eV/atom)'],
      dtype='object')

### View summaries of a DataFrame

Summaries of a DataFrame can be used to observe basic statistics and information such as column data types and non-null value counts.

In [6]:
# Get summary statistics of DataFrame columns using "describe()" (only includes
# numerical data types)
ts_csv.describe()

,Empty,Empty.1,Empty.2,Empty.3,Empty.4,energy_above_hull (meV/atom),formation_energy (eV/atom)
count,0.0,0.0,0.0,0.0,0.0,1929.000000,1929.000000
mean,NaN,NaN,NaN,NaN,NaN,105.532633,-1.914460
std,NaN,NaN,NaN,NaN,NaN,98.395552,0.570340
min,NaN,NaN,NaN,NaN,NaN,0.000000,-3.208500
25%,NaN,NaN,NaN,NaN,NaN,33.436112,-2.315473
50%,NaN,NaN,NaN,NaN,NaN,84.202506,-1.900529
75%,NaN,NaN,NaN,NaN,NaN,155.909864,-1.474341
max,NaN,NaN,NaN,NaN,NaN,956.831956,-0.488125

In [7]:
# Get summary statistics of single column using "describe()"
ts_csv['formation_energy (eV/atom)'].describe()

count    1929.000000
mean       -1.914460
std         0.570340
min        -3.208500
25%        -2.315473
50%        -1.900529
75%        -1.474341
max        -0.488125
Name: formation_energy (eV/atom), dtype: float64

In [8]:
# Summarize column data types, non-null values, and memory usage using "info()"
ts_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1929 entries, 0 to 1928
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Material Composition          1929 non-null   object
 1   A site #1                     1929 non-null   object
 2   A site #2                     1161 non-null   object
 3   A site #3                     34 non-null     object
 4   B site #1                     1929 non-null   object
 5   B site #2                     1249 non-null   object
 6   B site #3                     33 non-null     object
 7   X site                        1929 non-null   object
 8   Empty                         0 non-null      float64
 9   Empty.1                       0 non-null      float64
 10  Empty.2                       0 non-null      float64
 11  Empty.3                       0 non-null      float64
 12  Empty.4                       0 non-null      float64
 13  energy_above_hull (meV/atom)  1929 non-null   float64
 14  formation_energy (eV/atom)    1929 non-null   float64
dtypes: float64(7), object(8)
memory usage: 226.2+ KB

### Referencing and indexing a DataFrame

#### Referencing Rows (.loc and .iloc)

In [9]:
# Reference a row by index label
# Returns a Series

# Access first row of ts_csv by index label
# In this case the index label is 0
ts_csv.loc[0]

# Access first row of ts_json by index label
# In this case the index label is not 0
ts_json.loc['Ba1Sr7V8O24']

A site #1                            Ba
A site #2                            Sr
A site #3                          None
B site #1                             V
B site #2                          None
B site #3                          None
X site                                O
Empty                               NaN
Empty.1                             NaN
Empty.2                             NaN
Empty.3                             NaN
Empty.4                             NaN
energy_above_hull (meV/atom)    29.7477
formation_energy (eV/atom)     -2.11333
Name: Ba1Sr7V8O24, dtype: object

In [10]:
# Reference multiple rows by index label (in this case the index label 0 through 3)
# Returns a DataFrame
ts_csv.loc[0:3]

,Material Composition,A site #1,A site #2,A site #3,B site #1,B site #2,B site #3,X site,Empty,Empty.1,Empty.2,Empty.3,Empty.4,energy_above_hull (meV/atom),formation_energy (eV/atom)
0,Ba1Sr7V8O24,Ba,Sr,NaN,V,NaN,NaN,O,NaN,NaN,NaN,NaN,NaN,29.747707,-2.113335
1,Ba2Bi2Pr4Co8O24,Ba,Bi,Pr,Co,NaN,NaN,O,NaN,NaN,NaN,NaN,NaN,106.702335,-1.311863
2,Ba2Ca6Fe8O24,Ba,Ca,NaN,Fe,NaN,NaN,O,NaN,NaN,NaN,NaN,NaN,171.608093,-1.435607
3,Ba2Cd2Pr4Ni8O24,Ba,Cd,Pr,Ni,NaN,NaN,O,NaN,NaN,NaN,NaN,NaN,284.898190,-0.868639

In [11]:
# Reference a row or multiple rows by zero-based integer position

# Access first row of ts_csv by row integer value
# In this case the row is row 0
ts_csv.iloc[0]

# Access first row of ts_json by row integer value
# In this case the row is also row 0
ts_json.iloc[0]

A site #1                            Ba
A site #2                            Sr
A site #3                          None
B site #1                             V
B site #2                          None
B site #3                          None
X site                                O
Empty                               NaN
Empty.1                             NaN
Empty.2                             NaN
Empty.3                             NaN
Empty.4                             NaN
energy_above_hull (meV/atom)    29.7477
formation_energy (eV/atom)     -2.11333
Name: Ba1Sr7V8O24, dtype: object

In [12]:
# Reference multiple rows by row number (in this case rows 0 through 2)
# Note that this time the range doesn't include the stop number
ts_csv.iloc[0:3]

,Material Composition,A site #1,A site #2,A site #3,B site #1,B site #2,B site #3,X site,Empty,Empty.1,Empty.2,Empty.3,Empty.4,energy_above_hull (meV/atom),formation_energy (eV/atom)
0,Ba1Sr7V8O24,Ba,Sr,NaN,V,NaN,NaN,O,NaN,NaN,NaN,NaN,NaN,29.747707,-2.113335
1,Ba2Bi2Pr4Co8O24,Ba,Bi,Pr,Co,NaN,NaN,O,NaN,NaN,NaN,NaN,NaN,106.702335,-1.311863
2,Ba2Ca6Fe8O24,Ba,Ca,NaN,Fe,NaN,NaN,O,NaN,NaN,NaN,NaN,NaN,171.608093,-1.435607

#### Referencing Columns

In [13]:
# Referencing a column by column label (in this case, "A site #1")
ts_csv['A site #1']

0       Ba
1       Ba
2       Ba
3       Ba
4       Ba
        ..
1924     Y
1925     Y
1926     Y
1927     Y
1928     Y
Name: A site #1, Length: 1929, dtype: object

In [14]:
# Referencing multiple columns by a list of column labels 
# (in this case, the columns "A site #1" and "A site #2")
ts_csv[['A site #1', 'A site #3']]

     A site #1 A site #3
0           Ba       NaN
1           Ba        Pr
2           Ba       NaN
3           Ba        Pr
4           Ba       NaN
...        ...       ...
1924         Y       NaN
1925         Y       NaN
1926         Y       NaN
1927         Y       NaN
1928         Y       NaN

[1929 rows x 2 columns]

#### Referencing both rows and columns

In [15]:
# Referencing a subset of rows and columns using index and column labels
# Note that this statement uses a range of column labels instead of a list
# Make sure that the column range starts with the leftmost label
ts_csv.loc[:10, 'A site #1':'X site']

   A site #1 A site #2 A site #3 B site #1 B site #2 B site #3 X site
0         Ba        Sr       NaN         V       NaN       NaN      O
1         Ba        Bi        Pr        Co       NaN       NaN      O
2         Ba        Ca       NaN        Fe       NaN       NaN      O
3         Ba        Cd        Pr        Ni       NaN       NaN      O
4         Ba        Dy       NaN        Fe       NaN       NaN      O
5         Ba        Gd       NaN        Fe       NaN       NaN      O
6         Ba        Ho       NaN        Fe       NaN       NaN      O
7         Ba        La       NaN        Co       NaN       NaN      O
8         Ba        La       NaN        Cr       NaN       NaN      O
9         Ba        La       NaN        Fe       NaN       NaN      O
10        Ba        La       NaN        Ga       NaN       NaN      O

## Writing data to a file

In [16]:
# Save the subset from the previous cell in a variable
first_rows = ts_csv.loc[:10, 'A site #1':'X site']

# Write a csv file to the folder "output_data" in the current directory
first_rows.to_csv('./output_data/new_data.csv')

In [17]:
#Write to an Excel file to the folder "output_data" in the current directory
first_rows.to_excel('./output_data/new_data.xls')

In [18]:
# Write to a JSON file to the folder "output_data" in the current directory
first_rows.to_json('./output_data/new_data.json')